
<div class="row">
    <div class="col"> 
        <div class="card kpi-card">Total Flights: {{ kpiData?.totalFlights }}</div>
    </div>
    <div class="col">
        <div class="card">Active Flights: {{ kpiData?.activeFlights }}</div>
    </div>
</div>
<div class="row">
      <div class="col">
        <div class="card">Delayed Flights: {{ kpiData?.delayedFlights }}</div>
    </div>
    <div class="col">
        <div class="card">Arrived Flights: {{ kpiData?.arrivedFlights }}</div>
    </div>
</div>