@import "../../../variable";
.kpi-card{
    background: linear-gradient(135deg,#8CA6DB 0%,#B993D6 100%) !important;
    padding: 10px;
    cursor: pointer;
}

.card-cont{
    color: $white-color;
}
.card-count {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;

  flex-shrink: 0;
}