<div class="row g-3 justify-content-start">
  <div class="col-12 col-lg-4" align="center">
    <div class="card chart-card">
      <app-route-bar-chart></app-route-bar-chart>
    </div>
  </div>
  <div class="col-12 col-lg-4" align="center">
    <div class="card chart-card">
      <app-delay-histogram [flights]="flights"></app-delay-histogram>
    </div>
  </div>
  <div class="col-12 col-lg-4" align="center">
    <div class="card chart-card">
      <app-donut-chart [flights]="flights"></app-donut-chart>
    </div>
  </div>
</div>