<div class="card panel-card p-3 mt-2">
    <div class="card-icon d-flex align-items-center">
        <button mat-mini-fab color="primary"><mat-icon>assignment</mat-icon></button>
         <span class="card-cont mx-2" >
               Flight Details Panel
        </span> 
    </div>
  <div class="row mb-2 mt-4">
    <div *ngIf="!flight" class="no-flight">(Select a flight from the map to view its details)</div>
    <div class="col-md-6">
      Flight Number:
    </div>
    <div class="col-md-6">
      {{ flight?.flightNumber || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Callsign:
    </div>
    <div class="col-md-6">
      {{ flight?.callsign || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Aircraft Type:
    </div>
    <div class="col-md-6">
      {{ flight?.aircraftType || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Origin:
    </div>
    <div class="col-md-6">
      {{ flight?.origin || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Destination:
    </div>
    <div class="col-md-6">
      {{ flight?.destination || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Current Status:
    </div>
    <div class="col-md-6">
      {{ flight?.status || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Estimated Departure Time:
    </div>
    <div class="col-md-6">
      {{ flight?.etd || 'NA' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      Estimated Arrival Time:
    </div>
    <div class="col-md-6">
      {{ flight?.eta || 'NA' }}
    </div>
  </div>

</div>