<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav opened="true" mode="side">
    <div class="logo">
      <div class="img" align="center">
        <img src="../../assets/logo.png" alt="">
      </div>
    </div>

    <mat-nav-list>
      <div *ngFor="let menu of menuItems">
        <a
          mat-list-item
          [routerLink]="menu.menuUrl"
          routerLinkActive="active-list-item">
          <mat-icon>{{ menu.menuIcon }}</mat-icon>
          <span class="a">{{ menu.menuName }}</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="rightpart">
        <div class="user">
          <mat-icon>supervised_user_circle</mat-icon>
          <span>{{ userName }}</span>
        </div>

        <a mat-button (click)="logout()" replaceUrl="true">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </a>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>