<div class="table-container p-3">

    <!-- Search -->
    <div class="search-row">
        <div class="search-col">
            <mat-form-field appearance="outline" class="search-box">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper">

        <div class="table-scroll">

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">

                    <th mat-header-cell *matHeaderCellDef mat-sort-header>

                        <div class="th-content">
                            <mat-icon class="th-icon">{{ col.icon }}</mat-icon>
                            <span>{{ col.label }}</span>
                        </div>

                    </th>

                    <td mat-cell *matCellDef="let row" (click)="onRow(row)">
                        {{ getCellValue(row, col.key) }}
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>

        </div>

    </div>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

</div>