<div class="row m-2 dashboard-row">

  <!-- LEFT PANEL -->
  <div class="col-xl-5 col-12">
    <div class="left-panel">
      <app-kpi-cards [kpiData]="kpiData"></app-kpi-cards>

      <app-flight-panel-details [flight]="selectedFlight">
      </app-flight-panel-details>
    </div>
  </div>

  <!-- MAP PANEL -->
  <div class="col-xl-7 col-12">
    <div class="card right-card h-100">

      <!-- Search -->
      <div class="row align-items-center px-2">

        <div class="col-md-8 col-9">
          <mat-form-field appearance="outline" class="w-100 pt-2 search-row">
            <mat-label>Search Callsign</mat-label>

            <input matInput [formControl]="searchControl" placeholder="Search by Callsign">

            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-md-2 col-3 d-flex justify-content-start align-items-center filter-icon">

          <button mat-mini-fab color="primary" (click)="openFilterDialog()">

            <mat-icon>tune</mat-icon>

          </button>

        </div>

      </div>

      <!-- MAP -->
      <div class="map-wrapper">
        <div id="map"></div>
      </div>

    </div>
  </div>

</div>

<div class="mt-3 mx-3 mb-3">
  <app-chart-view [flights]="allFlights"></app-chart-view>
</div>